@import "bootstrap";
@import "navbar";
@import "forms";

body {
  background: asset_url("background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.main-container {
  margin-top: 10px;
  padding: 20px;
  border-radius: 15px;
}