@import "bootstrap";

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-index-first {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-index-middle {
    border-radius: 0;
}

.form-index-last {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-search {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}